.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  font-size: 2em;
  padding: 2em;
  background-color: rgb(30, 31, 33);
  border-radius: 1em;
  gap: 1.5rem;
  width: 30rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  box-shadow: 0.7rem 0.7rem 3rem rgba(0, 0, 0, 0.5);
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 85%;
}

.heading {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

input {
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  background-color: rgb(33, 33, 33);
}

small {
  width: 9rem;
}

.input-with-tag {
  display: flex;
  gap: 1rem;
  position: relative;
}

.small-label {
  position: absolute;
  right: 0;
  top: 0.5rem;
}

button {
  transition: all 0.02s;
}

button:hover {
  transform: scale(1.05);
  background-color: rgb(37, 37, 40);
}

button:active {
  transform: scale(1);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.reset__button {
  text-align: center;
  font-size: 1.5rem;
}

.eta-result {
  text-align: center;
  font-size: 1.7rem;
}

.error-message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 2.3rem;
}
.error {
  color: red;
  font-size: 1.3rem;
  width: 100%;
}
